.contents h2 {
  padding: 0.5em;
  color: #494949;
  background: #fffaf4;
  border-left: solid 5px #ffaf58;
}

.contents h3 {
  border-bottom: double 5px #FFC778;
}

.contents h4 {
  position: relative;
  padding: 0.25em 0;
}
.contents h4:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
  background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
}

.contents h1:first-letter {
  font-size: 2em;
  color: #7172ac;
}
